name: Documentation

on:
  push:
    branches:
      - main

jobs:
  toc:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: TOC Generator
        uses: doctoc/doctoc@v1
        with:
          args: 'README.md'

  link-checker:
    name: Link Checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress './**/*.md'
          
  contributors:
    name: All Contributors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: All Contributors
        uses: all-contributors/all-contributors-cli@v6
        with:
          command: generate
          bot_username: all-contributors[bot]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
