name: Documentation

on:
  push:
    branches:
      - main

jobs:
  toc:
    name: TOC Generator
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: TOC Generator
        uses: technote-space/toc-generator@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TOC_TITLE: "## Table of Contents"
          TARGET_PATHS: "README.md"

  links:
    name: Link Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress './**/*.md' './**/*.html'
          token: ${{ secrets.GITHUB_TOKEN }}

  contributors:
    name: All Contributors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: All Contributors
        uses: all-contributors/all-contributors-cli@v6.20.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path: "README.md"
          commit_message: "docs: update contributors"